:root {
  --brand-100: #fee5d9;
  --brand-200: #fdcbb3;
  --brand-300: #fdb28c;
  --brand-400: #fc9866;
  --brand-500: #fb7e40;
  --brand-600: #c96533;
  --brand-700: #974c26;
  --brand-800: #64321a;
  --brand-900: #32190d;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: var(--brand-800);
  margin: 0;
  padding: 0;
  background-color: var(--brand-100);
  overflow-x: hidden;
}

header {
  background-color: var(--brand-500);
  padding: 1rem;
  color: #ffffff;
  text-align: center;

  h1 {
    font-weight: 500;
    font-size: 2rem;
  }
}

main {
  margin: 2rem auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 1.6rem;
    font-weight: 400;
    margin: 0 1rem;
  }

  h3 {
    font-size: 1.4rem;
    font-weight: 400;
  }
}

select {
  color: var(--brand-900);
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background-color: var(--brand-200);
  border-radius: 16px;
  border-color: var(--brand-400);
  outline: none;
  margin-bottom: 1rem;

  &:focus {
    border-color: var(--brand-700);
    outline: none;
  }

  &:focus-visible {
    border-color: var(--brand-800);
    outline: none;
  }

  &:hover {
    border-color: var(--brand-600);
  }
}

img {
  max-width: 600px;
  height: auto;
}

@media (width <= 480px) {
  img {
    max-width: 100%;
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
  }
}

.dog-display {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.frame {
  padding: 2rem;
  border-radius: 16px;
  background-color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  box-sizing: border-box;
}

@media (width <= 480px) {
  .frame {
    margin: 0 1rem;
  }
}

@keyframes spin {
  to {
    transform: rotateZ(360deg);
  }
}

.spinner {
  animation: spin 1s linear infinite;
}

.hidden {
  display: none;
}
